body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}
.title{
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}
.title:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%;
    pointer-events: none;
}
.title-content{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 4s infinite;
}
@keyframes scroll {
    0% { top: 100%;
    }
100% { top: -170%;
}
}