body{
    width: 100%;
    font-family: 'Arimo', sans-serif;
}
.main-container{
    text-align: center;
    width: 1280px;
    margin: 0 auto;
}
table{
    border: 20px #374765 solid;
    margin: 0 auto;
}
tr,td {
    padding: 15px 35px;
    border-collapse: unset;
    box-shadow:0px 0px 9px 0px rgba(0, 0, 0, 0.27)
}
i{
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
.pricing-plan{
    background-color:  #fafafa;
    width: 155px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.smaller-text{
    text-transform: uppercase;
    color:  #484848;
    font-size: 14px;
    font-weight: 700;
}
.bigger-text{
    text-transform: uppercase;
    color:  #484848;
    font-size: 20px;
    font-weight: 700;
}
.storage{
    font-size: 18px;
    width: 90px;
    background-color:  #e3e3e3;
}
.storage-text{
    color:  #484848;
    text-transform: uppercase;
    font-weight: 700;
}
.bandwidth{
    background-color:#f2f2f2;
    width: 90px;
    font-size: 18px;
}
.bandwidth-text{
    text-transform: uppercase;
    color:  #484848;
    font-weight: 700;
}
.email{
    background-color:#e3e3e3;
    width: 90px;
    font-size: 18px;
}
.email-text{
    text-transform: uppercase;
    color:  #484848;
    font-weight: 700;
}
.support{
    text-transform: uppercase;
    width: 90px;
    background-color:  #f2f2f2;
    font-size: 18px;
}
.support-text{
    color:  #484848;
    font-weight: 700;
}
.products{
    background-color:  #e3e3e3;
    width: 90px;
    font-size: 18px;
}
.products-text{
    text-transform: uppercase;
    color:  #484848;
    font-weight: 700;
}
.users{
    background-color:  #f2f2f2;
    width: 90px;
    font-size: 18px;
}
.users-text{
    text-transform: uppercase;
    color:  #484848;
    font-weight: 700;
}
.standard{
    width: 155px;
    height: 140px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.green{
    background-color:  #89c331;
    position: relative;
}
.standard-big-text{
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.standard-big-price{
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    display: flex;
}
.standard-small-price{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.standard-small-text{
    position: absolute;
    right: 50px;
    top: 55px;
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.storage-500gb{
    vertical-align: middle;
    background-color:  #e3e3e3;
    width: 90px;
    height: 105px;
}
.storage-text{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
}
.limited{
    vertical-align: middle;
    background-color:  #f2f2f2;
    width: 90px;
    height: 105px;
}
.limited-text{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
}
.num-email{
    vertical-align: middle;
    background-color:#e3e3e3;
    width: 90px;
    height: 105px;
}
.num-email-text{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
}
.support-time{
    vertical-align: middle;
    background-color:  #f2f2f2;
    width: 90px;
    height: 105px;
}
.support-time-text{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
}
.num-products{
    vertical-align: middle;
    background-color:  #e3e3e3;
    width: 90px;
    height: 105px;
}
.num-products-text{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
}
.num-users{
    vertical-align: middle;
    background-color:  #f2f2f2;
    width: 90px;
    height: 105px;
}
.num-users-text{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
}
.btn-link-standard{
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color:  #414141;
    font-weight: 700;
    width: 140px;
    height: 30px;
    color: white;
    box-shadow: inset 1px -6px 5px 0px rgba(0, 0, 0, 0.27);
}
.btn-text{
    display: block;
    margin: 8px auto;
}
.ultimate{
    width: 155px;
    height: 140px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.red{
    background-color: #f04a56;
    position: relative;
}
.ultimate-big-text{
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.ultimate-big-price{
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    display: flex;
}
.ultimate-small-price{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.ultimate-small-text{
    position: absolute;
    right: 50px;
    top: 55px;
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.btn-link-ultimate{
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color:  #414141;
    font-weight: 700;
    width: 140px;
    height: 30px;
    color: white;
    box-shadow: inset 1px -6px 5px 0px rgba(0, 0, 0, 0.27);
}
.btn-text{
    display: block;
    margin: 8px auto;
}
.premium{
    width: 155px;
    height: 140px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.dark-green{
    position: relative;
    background-color: #20807c;
}
.premium-big-text{
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.premium-big-price{
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    display: flex;
}
.premium-small-price{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.premium-small-text{
    position: absolute;
    right: 50px;
    top: 55px;
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.btn-link-premium{
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color:  #414141;
    font-weight: 700;
    width: 140px;
    height: 30px;
    color: white;
    box-shadow: inset 1px -6px 5px 0px rgba(0, 0, 0, 0.27);
}
.btn-text {
    display: block;
    margin: 8px auto;
}