body {
    background-image: url("../image/rana.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
}
header{
    width: 100%;
    height: 54px;
    background-color:rgba(0, 0, 0, 0.41);
}
.title{
    top: 12px;
    left: 73px;
    position: relative;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.title:hover{
    color:#3cb878;
}
.navigation{
    position: absolute;
    color: white;
    font-size: 17px;
    top: 16px;
    right: 60px;
}
.nav-item::before{
    content: '';
    display:block;
    position: absolute;
    width: 1px;
    height: 20px;
    background-color:#3cb878;
    opacity: 0.5;
    left: -15px;
}
.nav-item-link{
    text-decoration: none;
    color:#3cb878;
}
.nav-item-link:hover{
    text-decoration: underline;
}
.icon{
    height: 31px;
    width: 30px;
    top: 6px;
    position: absolute;
    background-image: url("../image/css_sprites (1).png");
}
.icon-commpas{
    background-position: -81px 1px;
    right: 306px;
    top: 4px;
}
.icon-commpas:hover {
    background-position: -121px 1px;
}
.icon-files{
    background-position: 87px 0;
    right: 353px;
    top: 5px;
}
.icon-files:hover{
    background-position: 39px 0;
}
.icon-calculator{
    background-position: -41px 0;
    right: 401px;
    top: 5px;
}
.icon-calculator:hover{
    background-position: -2px 0;
}
.container{
    width: 350px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
}
.main-form{
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 445px;
    height: 585px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-form::after{
    content: '';
    display:block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color:#3cb878;
    left: 0;
    top: 35px;
}
.form-item-wrapper{
    font-size:25px;
    position: relative;
    color:#434343;
}
.form-item-link {
    position: absolute;
    font-size:14px;
    text-decoration: none;
    color:#3cb878;
    right: 15px;
    top: 9px;

}
.form-item-link:hover{
    text-decoration: underline;
}
.button-wrapper{
    width: 100%;
    position: relative;
    height: 80px;
}
.btn-social{
    width: 160px;
    height: 28px;
    padding: 10px 0;
    display: inline-block;
    border-radius: 10px;
}
.btn-facebook{
    background-color:#305db8;
    position: absolute;
    top: 19px;
    left: 0;
    text-decoration: none;
    color: white;
}
.btn-facebook:hover{
    background-color:  #264b96;
    transition: 0.5s;
}
.fab{
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    margin-left: 14px;
}
.text-facebook{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}
.text-facebook::before{
    content: '';
    border-left: 1px grey solid;
    width: 5px;
    margin: 0 10px 0 0;
}
.btn-google{
    text-decoration:none;
    position: absolute;
    right:0;
    top: 19px;
    background-color:#df4a32;
    color: white;
}
.btn-google:hover{
    background-color:  #c3412c;
    transition: 0.5s;
}
.text-google{
    display: inline-block;
    font-size: 22px;
    margin-left: 5px;
}
.text-google::before{
    content: '';
    border-left: 1px grey solid;
    width: 5px;
    margin: 0 10px 0 0;
}
.form-decoration{
    position: relative;
    font-size: 20px;
    opacity: 0.4;
    text-align: center;
    color:  #848484;
}
.form-decoration::after{
    content: '';
    position: absolute;
    width: 145px;
    height: 1px;
    bottom: 8px;
    left: 0;
    background-color: #3cb878;
}
.form-decoration::before{
    content: '';
    display: block;
    position: absolute;
    width: 145px;
    height: 1px;
    background-color: #3cb878;
    bottom: 8px;
    right:0;
}
form{
    height: 400px;
    box-sizing: border-box;
    padding-top: 20px;

}
input{
    padding: 0 20px;
    font-size: 17px;
    box-sizing: border-box;
}
.form-item{
    width: 100%;
    height: 45px;
    margin-bottom: 16px;
    border: 0.5px solid #bebebe;
    outline: none;
    border-radius: 3px;
}
.form-item:focus{
    border-radius: 6px;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.52);
    border-color: transparent;
    background-color:  #ffffff;
    text-transform: capitalize;
}
.checkbox-wrapper{
    display: inline-block;
    position: relative;
    padding-left: 39px;
    padding-top: 7px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}
.checkbox-wrapper input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    border: 1px grey solid;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 0;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-wrapper .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lable-link{
    text-decoration:none;
    color:  #3cb878;
}
.lable-link:hover{
    text-decoration: underline;
}
.main-button-wrapper{
    display:block;
    width: 322px;
    height: 46px;
    background-color:rgb(60, 184, 120);
    margin: 0 auto;
    border-radius: 6px;
}
.main-button-link {
    text-decoration: none;
    display:block;
    width: 322px;
    height: 46px;
    background-color:rgb(60, 184, 120);
    margin: 8px auto;
    border-radius: 6px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.main-btn-text{
    display: inline-block;
    padding-top: 10px;
}
.main-button-link:hover {
    background-color: rgb(47, 155, 101);
    transition: 0.5s;
}