body {
    font-family: sans-serif;
}
.main-container {
    width: 1280px;
    margin: auto;
}
.main-item {
    text-align: left;
    color: #000;
    margin-bottom: 20px;
}
.color-text {
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
}
.main-link {
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
}
.top-menu {
    background-color: #35444f;
    text-align: center;
    margin-bottom: 55px;
}
.top-menu-item {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
}

.top-menu-link {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}

.top-menu-link:hover {
    background-color: #222f3a;
    color: white;
}

.menu-content {
    list-style: none;
    width: 387px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}
.menu-content-item {
    display: block;
    padding: 27px 25px;
    font-size: 27px;
    color: #485863;;
}
.menu-content-item:hover {
    background-color:#dcdcdc;
    padding-left: 37px;
}
.menu-content-link {
    text-decoration: none;
    color: #495863;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.right-side{
    text-align: right;
    margin-left: 50px;
}
.image-box {
    display: inline-block;
    vertical-align: top;
    border: 1px solid;
    border-color: black;
}
.image {
    margin: 75px 270px 75px 240px;
}
.image:hover {
    transition: 0.5s;
    transform: scale(1.3);

}
.text {
    width: 815px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 40px;
}
.right-side {
    display: inline-block;
}
.bottom-part {
    background-color: #b5b8bb;
}
.bottom-menu{
    list-style: none;
    padding: 10px;
    display: inline-block;

}
.bottom-menu-item{
    font-size: 28px;
    font-weight: 400;
    display: inline-block;
    color: #0c1927;
}

.bottom-menu-item:hover{
    text-decoration: underline;
}
.bottom-menu-link:hover{
    color:#3181a6;
    text-decoration: underline;
}
.bottom-menu-link{
    text-decoration: none;
    color: #0c1927;
    padding: 10px 16px;
    display: inline-block;
}
.coppyright {
    font-size: 24px;
    display: inline-block;
    margin-left: 120px;
}