body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    height: 1626px;
    margin: 0 auto;
    text-align: center;
    border: white;
}
.top-menu {
    color:  #16a085;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin: 30px;
}
.top-menu-item {
    display: inline;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 900;
}

.top-menu-item:first-of-type {
    margin-left: 0;
}

.top-menu-link {
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: #0fa186;
    text-transform: uppercase;
}

.main-content {
    text-align: center;
    background-color: #f5f6f7;
    border:gray;
}

.image {
    width: 100%;
}
.title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
}
.main-text {
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;

}
.subscribe-btn {
    background-color: #16a085;
    border: none;
    width: 200px;
    height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    margin: 30px;
    margin-bottom: 90px;
}


.bottom-item {
    display: inline;
    float: left;
    margin: 13px;
    padding-right: 25px;
    border-right:1px solid #0fa186;

}

.bottom-link {
    text-decoration: none;
    font-weight: 700;
    color: #373737;
    font-size: 18px;
    text-transform: uppercase;
}
.bottom-text {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}
