body {
    background: url("../img/background.png") no-repeat;
    background-size: cover;
}
.clearfix:after {
    clear: both;
    content: '';
    display: table;
}
.main-block{
    font-family: sans-serif;
    width: 1280px;
    margin: 0 auto;
}
.head-container {
    display: inline-block;
    margin-top: 30px;
    padding-left: 110px;
    padding-bottom: 50px;
    clear: both;
}
.logo-link {
    text-decoration: none;
    font-family: sans-serif;
}
.logo-link:hover .logo-text {
    color:#f26522;
}
.logo-link:hover .image-logo {
    content: url("../img/logo.png");
}
.image-logo {
    float: left;
    width: 50px;
    margin-right: 20px;
}
.logo-text {
    font-size: 31px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.logo-text-small{
    float: left;
    font-size: 20px;
}
.right-subtitle {
    text-align: right;
    float: right;
    margin-top: 25px;
    margin-right: 110px;
}
.container {
    width: 1060px;
    margin: 0 auto;
}

.subtitle-item {
    color: white;
    font-size: 20px;
}
.tour-item {
    margin-right: 69px;
    margin-bottom: 70px;
    color: white;
    text-decoration: none;
    float: left;
    position: relative;
}
.tour-item:nth-child(3n) {
    margin-right: 0;
}
.desc {
    text-align: center;
    color: white;
    margin: 20px;
    font-size: 20px;
}
.tour-item:hover .desc{
    color:#f26522;
    transition: 1s;
}
.hidden-section{
    background-color: #f26522;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    width: 100%;
    bottom: 63px;
    padding: 10px;
    left: 0;
}
.tour-item:hover .hidden-section{
    opacity: 1;
    z-index: 1;
    transition: 1s;
}
.widget-price {
    font-size: 25px;
    float: left;
    color: white;
}
.widget-price-prefix {
    font-size: 15px;
    display: block;
}
.widget-details {
    text-align: right;
    float: right;
    text-decoration: none;
    color: white;
    margin: 12px 10px 0px 0px
}
.bottom {
    text-align: center;
    color: white;
    clear: both;
}
.bottom-info {
margin-bottom: 20px;
}