body{
		font-family: Verdana, sans-serif;
		background: url("../img/background.png") no-repeat;
		background-size: cover;
}
main{
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
}
header {
    width: 100%;
	margin-top:10px;
	margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.header-item{
    color: white;
    font-size: 16px;
}
.header-logo-block{
    height: 45px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.header-logo-block:hover .logo-img{
    filter:none;
	 transition: 1s;
}
.bigger-text{
    font-size: 29px;
    font-weight: 700;
    text-decoration: none;
}
.smaller-text {
    font-size: 18px;
    font-weight: 700;
}
.header-logo-block:hover .logo-text-container{
	 color:#f26522;
	 transition: 1s;
}
.logo-img{
    filter: brightness(0) invert(1);
}
.logo-text-container{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 10px;
    color: #fff;
}
.content-section{
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}
.image-wrapper{
	position: relative;
}
.section-image{
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	padding-top: 25px;
	color: white;
}
.section-text {
	text-align: center;
	margin: 15px;
	color: white;
}
.image-wrapper{
    margin-bottom: 20px;
}
.image-wrapper:hover .section-text{
	color:#f26522;
	transition: 1s;
}
.hidden-block{
	background-color: #f26522;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 55px;
	bottom: 47px;
	padding: 15px;
	left: 0;
}
.hidden-block:hover{
	opacity: 1;
	transition: 0.4s;

}
.image-wrapper:hover .hidden-block{
	opacity: 1;
	z-index: 1;
	transition: 1s;
}
.hidden-block-text{
	font-size: 15px;
}
.hidden-item-small{
	font-size: 10px;
	position: absolute;
	left: 15px;
	top: 10px;
}
.hidden-item-big{
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 23px;
}
.hidden-item-details{
	font-size: 15px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.hidden-item-details:after{
	content: ">";
	color: #f8b18f;
}
.bottom{
	font-size: 12px;
	color: white;
	margin-top:50px;
}