body{
    font-family: Verdana, sans-serif;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
}
main{
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}
header {
    width: 100%;
    margin-top:10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.header-item{
    color: white;
    font-size: 16px;
}
.header-logo-block{
    height: 45px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.header-logo-block:hover .logo-img{
    filter:none;
    transition: 1s;
}
.bigger-text{
    font-size: 29px;
    font-weight: 700;
    text-decoration: none;
}
.smaller-text {
    font-size: 18px;
    font-weight: 700;
}
.header-logo-block:hover .logo-text-container{
    color:#f26522;
    transition: 1s;
}
.logo-img{
    filter: brightness(0) invert(1);
}
.logo-text-container{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 10px;
    color: #fff;
}